# Local garbage
.vscode
.DS_Store
*.dSYM
*.swp
/.guillaume
/.objs

# Object files
*.o

# Libraries
*.a
*.so
*.dylib

# Binaries
webserv
webserv_bonus
webserv_debug
webserv_sanitize
*.out
*.debug

# Misc
*.txt
*.log
!test/diff/*.txt